.sidebarOptions {
  display:flex;
  align-items: center;
  color:grey;
  height: 40px;
  cursor: pointer;
  transition: 300ms color ease-in;

}


.sidebarOptions:hover {
  color:white;
}

.sidebarOption_icon {
  padding-left: 10px;
  padding-right: 10px;

}


.sidebarOptions > p {
  margin-top:10px;
  margin-left:20px;
  font-size:14px;
}
